.navbar {
    display: grid;
    grid-template-columns: 30% 1fr;
    height: clamp(2rem,3.5rem,5rem);
    font-family: var(--sec-font);
    color: var(--text-primary);
    border-bottom: 2px solid var(--border);
    z-index: 1000;
}
.logo ,.menu {
    display: flex;
    padding: .2rem .5rem;
    align-items: center;

}
.logo {
    /* background-color: green; */
    flex-direction: column;
    align-items: start;
}
.logo h1 {
    font-size: 1.5rem;
    /* font-style: italic; */
    text-align: start;
}
.logo p {
    font-size: .7rem;
    font-family: var(--main-font);
    color: var(--text-secondary);
}
.menu {
    /* background-color: orange; */
    gap: 2rem;
    justify-content: center;
    font-size: 1rem;
}
.menu span:hover {
    cursor: pointer;
    font-size: 1.2rem;
    font-weight: 500;


}
@media all and (max-width:1065px) {
    
    .navbar {
        display: none;
    }
}