.services-container h1 {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    gap: 2rem;
    color: var(--accent-dim);
    padding: 0 0 2rem 0;
    font-size: 3rem;
    color: var(--border);
    margin-top: 5rem;
}

h1 hr {
    border: 2px solid var(--border);
    width: 35svw;
    border-radius: .6rem;
}
.service-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    margin-bottom: 1rem;
}

.service {
    width: 95svw;
    padding: 2rem .5rem;
    display: grid;
    grid-template-columns: 60% 1fr;
    gap: .5rem;
    border-bottom: 2px solid var(--border);
    margin: 0 .5rem;
    box-shadow: 1px 0px 3px gray;
}

.service-left {
    display: flex;
    flex-direction: column;

}

.service-title {
    color: var(--text-primary);
    font-size: 2rem;
    font-weight: 500;
    margin-bottom: .5rem;
    font-family: var(--primary-font);
    padding-left: .5rem;
}



.service-right {
    font-family: var(--fourth-font);
    font-size: 1rem;
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    font-style: italic;

}

.service-right span {
    list-style: disc;
    font-weight: 500;


}

